*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 286px;
}
.title{
    margin-left: 70px;
    width: 200px;
    border-style: solid;
    text-align: center;
    background-color: yellowgreen
}
.navigations{
    display: inline-block;
    width: 250px;
    height: auto;
    margin: 10px auto;
}

.navigations,
.home-nav{
    background-color:orange;
    border: inset black;
    text-align: center;
}

a{
    color: black;
}

.home-nav{
    width: 345px;
    display: block;
    margin-bottom: 8px;
    padding: 5px;
}

.recipe-image{
    border: outset 5px black;
}

.sub-title{
    font-weight: 100;
}
span,
.cheese,
.tomato,
.lettuce{
    font-weight: bold;
    color: rgb(204, 207, 35);
}

.tomato{
    color: red;
}

.lettuce{
    color: darkgreen;
}

.item-list {
    border: solid;
    background-color: rgb(255, 252, 71);
    width: 300px;
    height: auto;
}

.item-list .steps,
.items{
    padding: 10px 8px;
}

.burger-ingredients,
.process,
.chicken-items{
    width: 320px;
    height: auto;
}
.burger-ingredients{
    background-color: lightcoral;
}


.burger-ingredients .burger-item{
    color: black ;
    padding: 15px;
}

.process{
    background-color: chocolate;
}

.process .process-steps{
    padding: 25px;
    color:darkslateblue;
}

.chicken-items{
    background-color: burlywood;
}

.chicken-ingredients{
    padding: 16px;
    color: darkgreen;
}

