h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 286px;
}

li{
    display: inline-block;
    width: 250px;
    height: auto;
    border-style: solid ;
    text-align: center;
    margin: 10px auto;
    background-color: orange;
}

a{
    color: black;
}


